<div id="view">
    <section class="photography bg" id="photography">
        <div class="top-shadow"></div>
        <div class="wrapper">
            <h2 class="text-white">Photography<div></div></h2>
            <p>I love doing astro, bird, macro, and landscape photography when I was in college but I stopped after. Unfortunately, I lost most of my shots but here are some of my best shots.</p>
            <div class="photography-container">
                <div class="portfolio-item">
                    <img src="assets/images/photography/ja_0168.jpg">
                </div>
                <div class="portfolio-item">
                    <img src="assets/images/photography/ja_0170.jpg">
                </div>
                <div class="portfolio-item">
                    <img src="assets/images/photography/ja_0038.jpg">
                </div>
                <div class="portfolio-item">
                    <img src="assets/images/photography/ja_0056.jpg">
                </div>
                <div class="portfolio-item">
                    <img src="assets/images/photography/ja_0078.jpg">
                </div>
                <div class="portfolio-item">
                    <img src="assets/images/photography/ja_0094.jpg">
                </div>
                <div class="portfolio-item">
                    <img src="assets/images/photography/ja_0136.jpg">
                </div>
                <div class="portfolio-item">
                    <img src="assets/images/photography/ja_0140.jpg">
                </div>
                <div class="portfolio-item">
                    <img src="assets/images/photography/ja_0146.jpg">
                </div>
                <div class="portfolio-item">
                    <img src="assets/images/photography/ja_0150.jpg">
                </div>
                <div class="portfolio-item">
                    <img src="assets/images/photography/ja_0151.jpg">
                </div>
            </div>
        </div>
    </section>
</div>