<div id="view">
    <section class="portfolio bg" id="portfolio">
        <div class="top-shadow"></div>
        <div class="wrapper">
            <h2 class="text-white">Work<div></div></h2>
            <p>After years of creating and designing web app solutions, the following are the projects I have worked on.</p>
            <div class="portfolio-container">
                <div class="portfolio-item" data-template>
                    <div class="portfolio-ss">
                    
                    </div>
                    <div class="portfolio-desc" >
                        <div class="portfolio-header">
                            <h3></h3>
                            <img src="" height="30px" alt="">
                        </div>
                        <h5></h5><span></span>
                        <p class="clamp"></p>
                        <div class="portfolio-tags-button">
                            <div class="tags"></div>
                            <a data-portfolio class="btn">View Project</a>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item loading">
                    <div class="portfolio-ss">
                    
                    </div>
                    <div class="portfolio-desc">
                        <div class="portfolio-header">
                            <h3></h3>
                            <div class="portfolio-logo"></div>
                        </div>
                        <h5></h5>
                        <p></p>
                        <p></p>
                        <p></p>
                        <span></span><span></span><span></span><span></span>
                    </div>
                </div>
                <div class="portfolio-item loading">
                    <div class="portfolio-ss">
                    
                    </div>
                    <div class="portfolio-desc">
                        <div class="portfolio-header">
                            <h3></h3>
                            <div class="portfolio-logo"></div>
                        </div>
                        <h5></h5>
                        <p></p>
                        <p></p>
                        <p></p>
                        <span></span><span></span><span></span><span></span>
                    </div>
                </div>
                <div class="portfolio-item loading">
                    <div class="portfolio-ss">
                    
                    </div>
                    <div class="portfolio-desc">
                        <div class="portfolio-header">
                            <h3></h3>
                            <div class="portfolio-logo"></div>
                        </div>
                        <h5></h5>
                        <p></p>
                        <p></p>
                        <p></p>
                        <span></span><span></span><span></span><span></span>
                    </div>
                </div>
            </div>
            <a onclick="viewMoreOrLess(event)" class="btn" style="display: block;">View More</a>
            <div class="d-flex justify-content-around" style="margin-top: 48px;">
                <div class="big-number">
                    <h1 id="num_years" data-animate-number-to="7">0</h1>
                    <span>Years of Experience</span>
                </div>
                <div class="big-number">
                    <h1 id="num_projects_ongoing" data-animate-number-to="">0</h1>
                    <span>On-going Projects</span>
                </div>
                <div class="big-number">
                    <h1 id="num_projects" data-animate-number-to="">0</h1>
                    <span>Projects</span>
                </div>
            </div>
            <!-- <div class="d-flex justify-content-around" style="margin-top: 48px;">
                <div class="big-number">
                    <h1 id="num_worked_month" data-animate-number-to="">0</h1>
                    <span>hours worked this month</span>
                </div>
                <div class="big-number">
                    <h1 id="num_worked_year" data-animate-number-to="">0</h1>
                    <span>hours worked this year</span>
                </div>
            </div>
            <div class="d-flex justify-content-around" style="margin-top: 48px;">
                <div class="big-number">
                    <h1 id="num_worked_today">...</h1>
                    <span>worked today</span>
                </div>
            </div> -->
        </div>
    </section>
    
    <section class="techstack">
        <div class="wrapper">
            <h2>Tech Stack</h2>
            <h3>Frontend</h3>
            <div class="tech-logos frontend">
            </div>
            <h3>Backend</h3>
            <div class="tech-logos backend">
            </div>
            <h3>Database</h3>
            <div class="tech-logos database">
            </div>
            <h3>Test</h3>
            <div class="tech-logos test">
            </div>
            <h3>CI/CD</h3>
            <div class="tech-logos cicd">
            </div>
            <h3>Cloud</h3>
            <div class="tech-logos cloud">
            </div>
            <h3>Web Server</h3>
            <div class="tech-logos servers">
            </div>
            <h3>Design</h3>
            <div class="tech-logos design">
            </div>
            <h3>Others</h3>
            <div class="tech-logos others">
            </div>
            <script>
                let tech = {
                    test: [
                      {
                        name: "Playwright",
                        img: "playwright.png"
                      }
                    ],
                    cicd: [
                      {
                        name: "GitLab CI/CD",
                        img: "gitlab-cicd.png"
                      }, {
                        name: "GitHub Actions",
                        img: "ghactions.webp"
                      }, {
                        name: "CircleCI",
                        img: "circleci.png"
                      }
                    ],
                    frontend: [
                        {
                            name: "Typescript",
                            img: "typescript.svg"
                        },
                        {
                            name: "Javascript ES6",
                            img: "javascript.svg"
                        },
                        {
                            name: "HTML5",
                            img: "html5.svg"
                        },
                        {
                            name: "CSS3",
                            img: "css3.svg"
                        },
                        {
                            name: "SCSS",
                            img: "scss.svg"
                        },
                        {
                            name: "Bootstrap",
                            img: "bootstrap.svg"
                        },
                        {
                            name: "npm gulp",
                            img: "gulp.svg"
                        },
                        {
                            name: "Progressive Web App",
                            img: "pwa.svg"
                        },
                        {
                            name: "ReactJS",
                            img: "react.svg"
                        },
                        {
                            name: "Angular",
                            img: "angular.svg"
                        },
                        {
                            name: "VueJS",
                            img: "vuejs.svg"
                        }
                    ],
                    backend: [
                        {
                            name: "Python",
                            img: "python.svg"
                        },
                        {
                            name: "Python Django",
                            img: "django.svg"
                        },
                        {
                            name: "Java",
                            img: "java.svg"
                        },
                        {
                            name: "Spring Boot",
                            img: "spring.svg"
                        },
                        {
                            name: "Maven",
                            img: "maven.svg"
                        },
                        {
                            name: "PHP",
                            img: "php.svg"
                        },
                        {
                            name: ".NET",
                            img: "dotnet.svg"
                        }
                    ],
                    database: [
                        {
                            name: "MySQL",
                            img: "mysql.svg"
                        },
                        {
                            name: "MongoDB",
                            img: "mongodb.svg"
                        }
                    ],
                    cloud: [
                        {
                            name: "Amazon Web Service",
                            img: "aws.svg"
                        },
                        {
                            name: "Docker",
                            img: "docker.svg"
                        },
                        {
                            name: "Linux",
                            img: "linux.svg"
                        },
                        {
                            name: "Linux Containers (lxc)",
                            img: "lxc.svg"
                        },
                        {
                            name: "Google Cloud Platform",
                            img: "gcp.svg"
                        },
                        {
                            name: "Firebase",
                            img: "firebase.svg"
                        },
                        {
                            name: "SSH",
                            img: "ssh.svg"
                        }
                    ],
                    servers: [
                        {
                            name: "Nginx",
                            img: "nginx.svg"
                        },
                        {
                            name: "Tomcat",
                            img: "tomcat.svg"
                        },
                        {
                            name: "Let's Encrypt",
                            img: "letsencrypt.svg"
                        },
                        {
                            name: "Certbot",
                            img: "certbot.svg"
                        },
                    ],
                    design: [
                        {
                            name: "Adobe Photoshop",
                            img: "adobe-photoshop.svg"
                        },
                        {
                            name: "Adobe Illustrator",
                            img: "adobe-illustrator.svg"
                        },
                        {
                            name: "Adobe Xd",
                            img: "adobe-xd.svg"
                        }
                    ],
                    others: [
                        {
                            name: "git",
                            img: "git.svg"
                        },
                        {
                            name: "GitLab",
                            img: "gitlab.svg"
                        },
                        {
                            name: "Dialogflow",
                            img: "dialogflow.svg"
                        }
                    ]
                }
                for(let x in tech) {
                    let container = document.querySelector(".tech-logos." + x);
                    for(let i = 0; i < tech[x].length; i++) {
                        let imgContainer = document.createElement("div")
                        imgContainer.classList.add("img-container");
                        let img = document.createElement("img")
                        img.src = './assets/images/icons/' + tech[x][i].img;
                        img.title = tech[x][i].name;
                        img.alt = tech[x][i].name;
                        imgContainer.insertAdjacentElement("beforeend", img);
                        container.insertAdjacentElement("beforeend", imgContainer);
                    }
                }
            </script>
        </div>
    </section>
    <section>
        <div class="wrapper">
            <h2>Badges and Certificates</h2>
            <div class="badges">
                <img src="./assets/images/badges-certs/hackerrank_problem-solving-badge.png">
            </div>
            <div class="portfolio-item">
                <div class="portfolio-ss" style="background-image: url(./assets/images/badges-certs/codecademy_typescript.png); background-size: contain; background-position: center center;"></div>
                <div class="portfolio-desc">
                    <div class="portfolio-header">
                        <h3>Typescript</h3>
                        <img src="./assets/images/company_logos/codecademy.png" height="25px" alt="Codecademy">
                    </div>
                    <h5>Codecademy</h5><span>January 22, 2023</span>
                    <p class="clamp">Covers the superset of Javascript that adds types to make the language scale.</p>
                    <div class="portfolio-tags-button">
                        <div class="tags"></div>
                        <a href="https://www.codecademy.com/profiles/juvarabrera/certificates/56fb1e71303e37b643bb1905f31c8a09" target="_blank" class="btn">View Certificate</a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item">
                <div class="portfolio-ss" style="background-image: url(./assets/images/badges-certs/hackerrank_problem-solving-cert.png); background-size: contain; background-position: center center;"></div>
                <div class="portfolio-desc">
                    <div class="portfolio-header">
                        <h3>Problem Solving (Basic)</h3>
                        <img src="./assets/images/company_logos/hackerrank-logo.png" height="30px" alt="HackerRank">
                    </div>
                    <h5>HackerRank</h5><span>June 23, 2022</span>
                    <p class="clamp">It covers basic topics of Data Structures (such as Arrays, Strings) and Algorithms (such as Sorting and Searching).</p>
                    <div class="portfolio-tags-button">
                        <div class="tags"></div>
                        <a href="https://www.hackerrank.com/certificates/650b5436d7c2" target="_blank" class="btn">View Certificate</a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item">
                <div class="portfolio-ss" style="background-image: url(./assets/images/badges-certs/coursera_linux-server-management-and-security.png); background-size: contain; background-position: center center;"></div>
                <div class="portfolio-desc">
                    <div class="portfolio-header">
                        <h3>Linux Server Management and Security</h3>
                        <img src="./assets/images/company_logos/coursera.svg" height="15px" alt="HackerRank">
                    </div>
                    <h5>University of Colorado System</h5><span>November 28, 2020</span>
                    <p class="clamp"></p>
                    <div class="portfolio-tags-button">
                        <div class="tags"></div>
                        <a href="https://www.coursera.org/account/accomplishments/certificate/XQ2ASPDTQZ5Y" target="_blank" class="btn">View Certificate</a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item">
                <div class="portfolio-ss" style="background-image: url(./assets/images/badges-certs/coursera_infrastructure-and-application-modernization-with-google-cloud.png); background-size: contain; background-position: center center;"></div>
                <div class="portfolio-desc">
                    <div class="portfolio-header">
                        <h3>Infrastructure and Application Modernization with Google Cloud</h3>
                        <img src="./assets/images/company_logos/coursera.svg" height="15px" alt="HackerRank">
                    </div>
                    <h5>Google Cloud</h5><span>November 8, 2020</span>
                    <p class="clamp"></p>
                    <div class="portfolio-tags-button">
                        <div class="tags"></div>
                        <a href="https://www.coursera.org/account/accomplishments/certificate/ZQ8FV75Y6SAG" target="_blank" class="btn">View Certificate</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contribution">
        <div class="wrapper">
            <h2>Code Contribution</h2>
            <p>Activities include issues, merge requests, pushes, and comments from different sources: <a href="https://www.juvarabrera.com/github" target="_blank">github.com</a>, <a href="https://www.juvarabrera.com/gitlab" target="_blank">gitlab.com</a>, <a href="https://gitlab.chits.ph/j.abrera" target="_blank">gitlab.chits.ph (internal)</a>.</p>
        </div>
        <div class="wrapper">
            <div class="contribution-label"><div class="level-0" title="No contributions"></div>0</div>
            <div class="contribution-label"><div class="level-1" title="1-4 contributions"></div>1-4</div>
            <div class="contribution-label"><div class="level-2" title="5-9 contributions"></div>5-9</div>
            <div class="contribution-label"><div class="level-3" title="10-14 contributions"></div>10-14</div>
            <div class="contribution-label"><div class="level-4" title="15-19 contributions"></div>15-19</div>
            <div class="contribution-label"><div class="level-5" title="20-24 contributions"></div>20-24</div>
            <div class="contribution-label"><div class="level-6" title="25+ contributions"></div>25+</div>
        </div>
        <div class="contributions">
        </div>
        <div class="d-flex justify-content-around" style="margin-top: 48px;">
            <div class="big-number">
                <h1 id="num_contribution_total" data-animate-number-to="">0</h1>
                <div>Total Contributions</div>
                <small>Issues, commits, merge requests, comments</small>
            </div>
            <div class="big-number">
                <h1 id="num_contribution_days_streak" data-animate-number-to="">0</h1>
                <span>Days Record Streak<br><small id="num_contribution_days_streak_date"></small></span>
            </div>
        </div>
    </section>
    <section>
        <div class="wrapper">
            <h2>Mini Projects</h2>
            <p class="mb-3">Here are some of my mini projects I have created. It's not that much but I hope you still like it.</p>
            <div class="mini-project-container">
                <a target="_blank" class="card portfolio-item" data-template>
                    <div class="card-body">
                        <h3></h3>
                        <div class="portfolio-tags-button align-items-start">
                            <p></p>
                        </div>
                    </div>
                </a>
                <div class="portfolio-item loading">
                    <div class="portfolio-desc">
                        <div class="portfolio-header">
                            <h3></h3>
                        </div>
                        <p></p>
                        <p></p>
                    </div>
                </div>
                <div class="portfolio-item loading">
                    <div class="portfolio-desc">
                        <div class="portfolio-header">
                            <h3></h3>
                        </div>
                        <p></p>
                        <p></p>
                    </div>
                </div>
                <div class="portfolio-item loading">
                    <div class="portfolio-desc">
                        <div class="portfolio-header">
                            <h3></h3>
                        </div>
                        <p></p>
                        <p></p>
                    </div>
                </div>
            </div>
            <a onclick="viewMoreOrLess(event)" class="btn" style="display: block;">View More</a>
            <a href="https://github.com/juvarabrera" target="_blank" class="btn mr-2"><i class="mdi mdi-github mr-2"></i>GitHub</a>
            <a href="https://gitlab.com/jabrera" target="_blank" class="btn mr-2"><svg style="width:24px;height:24px;vertical-align:middle;margin: 2px 0px;" class="mr-2" viewBox="0 0 24 24">
                <path fill="currentColor" d="M21.94 13.11L20.89 9.89C20.89 9.86 20.88 9.83 20.87 9.8L18.76 3.32C18.65 3 18.33 2.75 17.96 2.75C17.6 2.75 17.28 3 17.17 3.33L15.17 9.5H8.84L6.83 3.33C6.72 3 6.4 2.75 6.04 2.75H6.04C5.67 2.75 5.35 3 5.24 3.33L3.13 9.82C3.13 9.82 3.13 9.83 3.13 9.83L2.06 13.11C1.9 13.61 2.07 14.15 2.5 14.45L11.72 21.16C11.89 21.28 12.11 21.28 12.28 21.15L21.5 14.45C21.93 14.15 22.1 13.61 21.94 13.11M8.15 10.45L10.72 18.36L4.55 10.45M13.28 18.37L15.75 10.78L15.85 10.45H19.46L13.87 17.61M17.97 3.94L19.78 9.5H16.16M14.86 10.45L13.07 15.96L12 19.24L9.14 10.45M6.03 3.94L7.84 9.5H4.23M3.05 13.69C2.96 13.62 2.92 13.5 2.96 13.4L3.75 10.97L9.57 18.42M20.95 13.69L14.44 18.42L14.46 18.39L20.25 10.97L21.04 13.4C21.08 13.5 21.04 13.62 20.95 13.69" />
            </svg> GitLab</a>
            <a href="#/work/setup" target="_blank" class="btn mr-2">Work Setup</a>
            <a href="#/coffee" class="btn mr-2">Buy me coffee</a>
        </div>
    </section>
    <script>
        
    </script>
</div>