<div id="view">
    <section>
        <div class="wrapper">
            <h1>Work Setup</h1>
            <img src="assets/images/workstation2.png" width="100%"/>
            <h2>Laptops</h2>
            <ol>
                <li>Asus Vivobook TP470EZ <!-- 1274 -->
                    <ul>
                        <li>Intel® Core™ i7-1165G7 @ 2.8GHz Quad-core</li>
                        <li>INTEL® IRIS® Xᵉ MAX 4GB</li>
                        <li>16GB LPDDR4X Memory</li>
                    </ul>
                </li>
                <li>
                    Asus Zenbook UX430UQ <!-- 999 -->
                    <ul>
                        <li>Intel® Core™ i7-8550U @ 1.8GHz Quad-core</li>
                        <li>NVIDIA® GeForce® MX150 2GB GDDR5 VRAM</li>
                        <li>8GB LPDDR3</li>
                    </ul>
                </li>
            </ol>
            <h2>Monitors</h2>
            <ol>
                <li>x2 Asus VP228NE 21.5" 1080p <!-- 112 x 2 --></li>
                <li>x2 HP Monitor 1080p <i>(Office Provided)</i></li>
            </ol>
            <h2>Keyboard, Video, and Mouse (KVM)</h2>
            <small><i>I'm using an open-source software called <b>Barrier</b> to connect the keyboard and mouse between two laptops</i></small>
            <ol>
                <li>Logitech PRO Gaming Keyboard <!-- 180 --></li>
                <li>Logitech G603 Wireless Gaming Mouse <!-- 52 --></li>
                <li>Logitech BRIO 4K Webcam <!-- 146.59 --></li>
                <li>Generic 1080p Webcam <!-- 7.5 --></li>
            </ol>
            <h2>Audio I/O</h2>
            <ol>
                <li>Sony WH-1000XM3 <!-- 19.19 --></li>
                <li>Logitech Z333 2.1 Speaker System with Subwoofer <!-- 100 --></li>
                <li>Maono AU-A04 Condenser Microphone <!-- 42.98 --></li>
            </ol>
            <h2>Other Tech</h2>
            <ol>
                <li>Lenovo TB-X505L Tablet <!-- 154 --></li>
                <li>Google Home <!-- 129 --></li>
            </ol>
            <h2>Chair and Table</h2>
            <ol>
                <li>XCGAME Professional Double E-Sports Table <!-- 64 --></li>
                <li>Panther Gaming Nightfall Gaming Chair <!-- 83.58 --></li>
            </ol>
            <h2>Storage and Organizer</h2>
            <ol>
                <li>x2 Monitor Display Shelf Rack <!-- 3.14 --></li>
                <li>True Vision Articulating Monitor Stand</li>
                <li>x3 Vijim by Ulanzi LS08 Flexible Desk Mounting Aluminum Stand <!-- 57.42 --></li>
                <li>MKEPS RGB Large Gaming Mouse Pad</li>
                <li>LED RGB Strip</li>
                <li>DQRGO Laptop Colling Pad <!-- 12.16 --></li>
                <li>x2 26CM Ring Light</li>
                <li>Ikea Cup Holder</li>
                <li>Ikea Footrest</li>
            </ol>
        </div>
    </section>
</div>