<div class="logo-container">
    <a href="/">
        <div class="bg"></div>
        <img src="./assets/images/logo/logo_white.png" alt="Juvar Abrera">
    </a>
</div>
<div class="container">
    <div class="footer-bg"></div>
    <div class="paper">
        <nav>
            <ul>
                <li><a href="#/home">About</a></li>
                <li><a href="#/work">Work</a></li>
                <li><a href="#/crypto">Crypto</a></li>
                <li><a href="#/speaking">Speaking</a></li>
                <li><a href="#/photography">Photography</a></li>
                <li><a href="#/contact">Contact</a></li>
                <li><a onclick="changeTheme()"><i class="mdi mdi-theme-light-dark"></i></a></li>
            </ul>
        </nav>
        <div id="view"></div>
    </div>
</div>
<div id="is_working">
    <span class="yes">I'm currently working!</span>
    <span class="break">I'm taking a break :)</span>
    <span class="text-right">Worked for <span id="num_worked_today2"></span> today.</span>
</div>
<footer id="contact">
    <p style="text-align: center">Copyright 2012-2025. Designed and developed by yours truly.<br>
        <a title="Email" href="mailto:me@juvarabrera.com" target="_blank"><i class="mdi mdi-email"></i></a>
        <a title="Github" href="https://github.com/juvarabrera" target="_blank"><i class="mdi mdi-github"></i></a>
        <a title="GitLab" href="https://gitlab.com/juvarabrera" target="_blank"><svg style="width:24px;height:24px;vertical-align:middle;margin: 2px 0px;" class="mr-2" viewBox="0 0 24 24">
          <path fill="currentColor" d="M21.94 13.11L20.89 9.89C20.89 9.86 20.88 9.83 20.87 9.8L18.76 3.32C18.65 3 18.33 2.75 17.96 2.75C17.6 2.75 17.28 3 17.17 3.33L15.17 9.5H8.84L6.83 3.33C6.72 3 6.4 2.75 6.04 2.75H6.04C5.67 2.75 5.35 3 5.24 3.33L3.13 9.82C3.13 9.82 3.13 9.83 3.13 9.83L2.06 13.11C1.9 13.61 2.07 14.15 2.5 14.45L11.72 21.16C11.89 21.28 12.11 21.28 12.28 21.15L21.5 14.45C21.93 14.15 22.1 13.61 21.94 13.11M8.15 10.45L10.72 18.36L4.55 10.45M13.28 18.37L15.75 10.78L15.85 10.45H19.46L13.87 17.61M17.97 3.94L19.78 9.5H16.16M14.86 10.45L13.07 15.96L12 19.24L9.14 10.45M6.03 3.94L7.84 9.5H4.23M3.05 13.69C2.96 13.62 2.92 13.5 2.96 13.4L3.75 10.97L9.57 18.42M20.95 13.69L14.44 18.42L14.46 18.39L20.25 10.97L21.04 13.4C21.08 13.5 21.04 13.62 20.95 13.69" />
        </svg></a>
        <a title="X/Twitter" href="https://www.x.com/juvarabrera" target="_blank"><i class="mdi mdi-twitter"></i></a>
        <br>
        <img src="./assets/images/logo/logo_white.png" alt="Juvar Abrera">
    </p>
</footer>
<div id="crypto-modal" class="modal">
    <a class="close"><span class="tag">ESC</span><i class="mdi mdi-close-circle"></i></a>
    <div class="wrapper">
        <img src="./assets/images/logo/logo_white.png" alt="Juvar Abrera" width="48px" style="margin-bottom: 24px;">
        <div class="d-flex justify-content-between align-items-start">
            <div>
                <h1></h1>
                <h2></h2>
                <h3></h3>
            </div>
            <div class="tags"></div>
        </div>
        <div class="d-flex justify-content-between align-items-start t-flex-column" style="margin-bottom: 24px;">
            <div>
                <div class="info"></div>
            </div>
            <div class="website">
                <a href="#" target="_blank" class="btn">View on TradingView</a>
            </div>
        </div>
    </div>
    <div class="photos">
        <img src="" width="100%">
    </div>
</div>
<div id="portfolio-modal" class="modal" data-portfolio="">
    <a class="close"><span class="tag">ESC</span><i class="mdi mdi-close-circle"></i></a>
    <a class="next"><i class="mdi mdi-chevron-right"></i></a>
    <a class="prev"><i class="mdi mdi-chevron-left"></i></a>
    <div class="progress-container"><div class="progress"></div></div>
    <div class="wrapper">
        <img src="./assets/images/logo/logo_white.png" alt="Juvar Abrera" width="48px" style="margin-bottom: 24px;">
        <div class="d-flex justify-content-between align-items-start">
            <div>
                <h1></h1>
                <h2></h2>
                <h3></h3>
            </div>
            <div>
                <img src="" class="company" height="64px">
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-start" style="margin-bottom: 24px;">
            <div>
                <div class="info"></div>
                <div class="tags"></div>
            </div>
            <div class="website">
                <a href="#" target="_blank" class="btn">Visit Website</a>
            </div>
        </div>
        <div class="photos">
        </div>
    </div>
</div>
<a id="youtube_live" target="_blank">
    <img src="" alt="thumbnail">
    <div class="title"></div>
    <div class="live"><span class="record-icon"></span>LIVE NOW</div>
</a>
<script>
    function viewMoreOrLess(event) {
        let max_portfolio_show_per_load = 5;
        let portfolio_items = event.target.previousElementSibling.querySelectorAll(".portfolio-item.d-none");
        if(portfolio_items.length == 0) {
            event.target.innerText = "View More";
            event.target.previousElementSibling.querySelectorAll(".portfolio-item").forEach(function(el, i) {
                if(i > max_portfolio_show_per_load) {
                    el.classList.add("d-none");
                }
            })
        } else {
            if(portfolio_items.length - max_portfolio_show_per_load <= 0) {
                // event.target.innerText = "View Less";
                event.target.remove()
            }
            portfolio_items.forEach(function(el, i) {
                if(i < max_portfolio_show_per_load) {
                    el.classList.remove("d-none");
                }
            });
        }
    }
    const darkThemeClass = "dark-theme";
    function changeTheme() {
        const isDarkTheme = document.querySelector("body").classList.contains(darkThemeClass);
        if(isDarkTheme) {
            document.querySelector("body").classList.remove(darkThemeClass);
            localStorage.setItem("theme", "light")
        } else {
            document.querySelector("body").classList.add(darkThemeClass);
            localStorage.setItem("theme", "dark")
        }
    }
    if(localStorage.getItem("theme") === "dark") {
        document.querySelector("body").classList.add(darkThemeClass);
    }
    
    window.addEventListener('scroll', function() {
        document.querySelectorAll("[data-animate-number-to]").forEach(function(element) {
            let position = element.getBoundingClientRect();
            if(element.hasAttribute("data-animate")) return;
            if(position.top >= 0 && position.bottom <= window.innerHeight) {
                if(element.getAttribute("data-animate-number-to") != "") {
                    element.setAttribute("data-animate", "");
                    let upto = parseInt(element.getAttribute("data-animate-number-to"),10);
                    $({someValue: 0}).animate({someValue: upto}, {
                        duration: 5000,
                        easing:'swing',
                        step: function() {
                            element.innerText = commaSeparateNumber(Math.round(this.someValue));
                        }
                    });
                }
            }
        })
    });
    
    function commaSeparateNumber(val){
        while (/(\d+)(\d{3})/.test(val.toString())){
            val = val.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
        }
        return val;
    }
    
    (async function() {
        const clockify = new Clockify();
        await clockify.start();
        await clockify.checkForTimeEntries();
        const youtube = new YouTube();
    })();
</script>
