<div id="view">
    
    <section class="music bg" style="padding-top: 300px;" id="music">
        <div class="top-shadow"></div>
        <div class="wrapper">
            <h2 class="text-white">Music<div></div></h2>
            <p>Singing has become my hobby even though I'm not that good but I still like singing though.</p>
            <div class="music-container">
                <div class="portfolio-item" data-template>
                    <div class="portfolio-ss">
                    
                    </div>
                    <div class="portfolio-desc">
                        <div class="portfolio-header">
                            <h3><span class="h3"></span></h3>
                        </div>
                        <span class="date"></span>
                        <div style="text-align: right;">
                            <a target="_blank" class="btn">Listen on <i class="mdi mdi-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item loading">
                    <div class="portfolio-ss">
                    
                    </div>
                    <div class="portfolio-desc">
                        <div class="portfolio-header">
                            <h3></h3>
                            <div class="portfolio-logo"></div>
                        </div>
                        <h5></h5>
                        <p></p>
                        <p></p>
                        <p></p>
                        <span></span><span></span><span></span><span></span>
                    </div>
                </div>
                <div class="portfolio-item loading">
                    <div class="portfolio-ss">
                    
                    </div>
                    <div class="portfolio-desc">
                        <div class="portfolio-header">
                            <h3></h3>
                            <div class="portfolio-logo"></div>
                        </div>
                        <h5></h5>
                        <p></p>
                        <p></p>
                        <p></p>
                        <span></span><span></span><span></span><span></span>
                    </div>
                </div>
                <div class="portfolio-item loading">
                    <div class="portfolio-ss">
                    
                    </div>
                    <div class="portfolio-desc">
                        <div class="portfolio-header">
                            <h3></h3>
                            <div class="portfolio-logo"></div>
                        </div>
                        <h5></h5>
                        <p></p>
                        <p></p>
                        <p></p>
                        <span></span><span></span><span></span><span></span>
                    </div>
                </div>
            </div>
            <a onclick="viewMoreOrLess(event)" class="btn" style="display: block;">View More</a>
            <div class="d-flex justify-content-around" style="margin-top: 48px;">
                <div class="big-number">
                    <h1 id="num_videos" data-animate-number-to="">0</h1>
                    <span>Videos</span>
                </div>
                <div class="big-number">
                    <h1 id="num_views" data-animate-number-to="">0</h1>
                    <span>Views</span>
                </div>
            </div>
        </div>
    </section>
</div>