<div id="view">
    <section>
        <div class="wrapper">
            <h2>Unravel by Jarrell Maverick Remulla<div></div></h2>
            <p>
                <a href="https://striplingoeuvre.wordpress.com/2023/09/01/unravel/" class="btn" target="_blank" rel="noopener noreferrer">Link</a>
                <a id="btnScroll" class="btn">Scroll</a>
                <a id="btnScrollUp" class="btn" style="display: none;">+</a>
                <a id="btnScrollDown" class="btn" style="display: none;">-</a>
            </p>
            <hr>
            <p>Key: Bb</p>
            <pre>
[Intro]

<b>Gmaj Bbmaj Ebmaj Dmaj</b>


[Verse 1]

<b>Gmaj</b>
I never understood
<b>        Bbmaj</b>
How you were and how you are.
<b>Ebmaj</b>
Shrouded with veil
<b>   Dmaj</b>
Of what if's and what not's


[Chorus]

<b>Ebmaj        Bbmaj</b>
Unravel your mysteries.
<b>Cm                    Bbmaj</b>
Let my curiosity take hold.
<b>Ebmaj         Bbmaj</b>
Manifest your desires.
<b>Cm		   Bbmaj</b>
Your wishes are my commands.


[Verse 2]

<b>Gmaj</b>
I'm patient. I will be.
<b>Bbmaj</b>
Only if you'd tell me.
<b>Ebmaj</b>
I know it isn't easy.
<b>Dmaj</b>
Only if you'd let me.


[Chorus]

<b>Ebmaj                               Bbmaj</b>
Unravel the dress of someone you're not.
<b>                  Cm                     Bbmaj</b>
Show me where the scars are and where it hurts.
<b>Ebmaj                             Bbmaj</b>
Show me where flesh is pure, I'll cherish.
<b>                Cm		        Bbmaj</b>
Lead me to your insecurities until they vanish.


[Bridge]

<b>Ebmaj Bbmaj x2</b>

<b>Ebmaj                       Bbmaj</b>
Let us make love as persons we ought to be.
<b>Ebmaj                        Bbmaj</b>
Kiss our way into our demise and misery.
<b>Ebmaj             Bbmaj</b>
Hold hands on our self-discovery.
<b>Ebmaj                 Dmaj</b>
Cuddle in love's warm embrace and serenity.


[Outro] *1 octave higher

<b>Ebmaj                           Bbmaj</b>
Unravel the mess throughout the years.
<b>                Cm                     Bbmaj</b>
Together, we'll put you back, piece by piece.
<b>Ebmaj                       Bbmaj</b>
Cut the ropes that hold you down.
<b>Cm                     Bbmaj</b>
Untangle them. Set you free.
</pre>
        </div>
    </section>
    <script>
        let scrollSpeed = 3;
        let maximumScrollSpeed = 6;
        let minimumScrollSpeed = 1;
        let isScrolling = false;
        let scrolling = null;
        const btnScroll = document.getElementById("btnScroll");
        const btnScrollUp = document.getElementById("btnScrollUp");
        const btnScrollDown = document.getElementById("btnScrollDown");
        btnScroll.addEventListener("click", function() {
            if(isScrolling) {
                this.textContent = "Scroll";
                clearInterval(scrolling);
                btnScrollUp.style.display = "none";
                btnScrollDown.style.display = "none";
            } else {
                btnScrollUp.style.display = "inline-block";
                btnScrollDown.style.display = "inline-block";
                this.textContent = "Stop";
                scrolling = setInterval(() => {
                    const targetScroll = window.scrollY + scrollSpeed;
                    window.scrollTo({
                        top: targetScroll,
                        behavior: 'smooth'
                    });
                }, 300)
            }
            isScrolling = !isScrolling;
        });
        btnScrollUp.addEventListener("click", () => {
            if(scrollSpeed < maximumScrollSpeed)
                scrollSpeed++;
        })
        btnScrollDown.addEventListener("click", () => {
            if(scrollSpeed > minimumScrollSpeed)
                scrollSpeed--;
        })
    </script>
</div>