@font-face {
    font-family: grandesign;
    src: url(./assets/fonts/grandesign_neue_serif-webfont.eot);
    src: url(./assets/fonts/grandesign_neue_serif-webfont.eot?#iefix) format("embedded-opentype"), 
         url(./assets/fonts/grandesign_neue_serif-webfont.woff) format("woff"),
         url(./assets/fonts/grandesign_neue_serif-webfont.ttf) format("truetype"),
         url(./assets/fonts/grandesign_neue_serif-webfont.svg#grandesign_neue_serifregular) format("svg");
    font-weight: 400;
    font-style: normal;
}
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@7.1.96/css/materialdesignicons.min.css');
.mdi{font-size:24px;vertical-align:middle}
body {
    margin: 0px;
    font-family: 'grandesign';
    background: #005cb9;
    transition: background-color .2s ease;
}
.container {
    width: 100%;
    position: relative;
    background: #f5f5f5;
}
.container .footer-bg {
    background: #005cb9;
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 10;
    bottom: 0px;
}
.container .paper {
    max-width: 960px;
    min-height: 300px;
    width: 100%;
    /* border: 1px solid rgba(0,0,0,.1); */
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    margin: 0px auto;
    padding: 24px 0px;
    // padding-bottom: 0px;
    position: relative;
    box-sizing: border-box;
    border-radius: 15px;
    z-index: 20;
    background: white;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "grandesign";
    color: #005cb9;
    margin: 0px;
    margin-bottom: 16px;
}
h4,h5,h6 {
    color: #333;
}
p {
    color: rgba(0,0,0,0.6);
}
.logo-container {
    background: #f5f5f5;
    position: relative;
    z-index: 10;
}
.logo-container a {
    width: 160px;
    height: 100px;
    position: relative;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container a .bg {
    background: #005cb9;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 0px;
    z-index: 30;
    transition: all 1s;
}
.logo-container a .bg.show {
    height: 100%;
}
.logo-container img {
    width: 48px;
    z-index: 35;
    position: relative;
}
nav {
    display: block;
    text-align: center;
    font-family: 'grandesign';
}
nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px auto;
    display: inline-block;
    overflow: hidden;
}
nav ul li {
    margin: 0px;
    padding: 0px;
    /* float: left; */
    display: inline-block;
}
nav ul li a {
    color: rgba(0,0,0,0.5);
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 16px;
    margin: 0px 4px;
    cursor: pointer;
    transition: 0.2s all;
    border-bottom: 3px solid transparent;
}
nav ul li a:hover, nav ul li a.active {
    color: #005cb9;
    border-bottom: 3px solid #005cb9;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 36px;
    padding-top: 48px;
    flex-direction: row;
}
header img {
    max-width: 250px;
    border-radius: 100%;
    box-shadow: 0px 3px 5px rgba(0,0,0,.3);
    margin: 0px 36px;
}
header h3 {
    color: #333;
    /* font-size: 59px; */
}
header div {
    margin: 0px 36px;
    width: 100%;
}
@media screen and (max-width: 800px) {
    header {
        flex-direction: column;
    }
    header div {
        margin-top: 36px;
    }
    .t-flex-column {
        flex-direction: column;
    }
}
.blink {
    display:inline-block;
    vertical-align:bottom;
    width:10px;
    box-shadow:0 3px 4px rgba(0,0,0,.3);
    height:3px;
    background:#333;
    animation: blinker 1s linear infinite
}
@keyframes blinker {
    50% {
        opacity:0
    }
}
.btn {
    /* background: #005cb9; */
    display: inline-block;
    padding: 12px;
    cursor:  pointer;
    text-decoration: none;
    color: #005cb9;
    text-align: center;
    font-weight: bold;
    border: 3px solid #005cb9;
    margin-top: 12px;
    transition: .2s all;
    white-space: nowrap;
    background: transparent;
}
.btn:hover {
    background: #005cb9;
    color: white;
}
.btn-white {
    border: 3px solid white;
    color: white;
}
section {
    margin-top: 32px;
    position: relative;
}
.companies {
    text-align: center;
}
.companies img {
    margin: 24px;
    vertical-align: middle;
}
footer {
    padding: 48px 24px 64px 24px;
    max-width: 960px;
    margin: 0px auto;
    height: 50vh;
    z-index: 30;
}
footer p {
    color: rgba(255,255,255,.7);
}
footer img {
    margin-top: 36px;
    width: 36px;
    display: inline-block;
}
footer a {
    margin-top: 24px;
    display: inline-block;
    padding: 8px;
}
footer i {
    color: rgba(255,255,255,.8);
}

footer svg path {
  fill: rgba(255,255,255,.8);
}
section h2.text-white {
    position: relative;
    text-shadow: 0px 2px 3px black;
}
section h2.text-white div {
    background: white;
    width: 30px;
    margin-top: 8px;
    height: 5px;
    box-shadow: 0px 2px 3px black;
}
section.portfolio {
    background-image: url("./assets/images/workstation2.png");
}
section.speaking {
    background-image: url("./assets/images/speaking.png");
}
section.crypto {
    background-image: url("./assets/images/crypto.png");
}
section.music {
    background-image: url("./assets/images/music.png");
}
section.photography {
    background-image: url("./assets/images/photography.png");
}
section.bg {
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 200px;
    width: 100%;
}
section.bg > .wrapper > p {
    width: 50%;
    margin-bottom: 24px;
    text-shadow: 0px 2px 3px black;
    color: white;
}
@media screen and (max-width: 450px) {
    section > .wrapper > p {
        width: 100%;
    }
}
@media screen and (max-width: 750px) {
    section.bg {
        padding-top: 250px;
    }
}
@media screen and (max-width: 700px) {
    section.bg {
        padding-top: 220px;
    }
}
@media screen and (max-width: 650px) {
    section.bg {
        padding-top: 200px;
    }
}
@media screen and (max-width: 550px) {
    section.bg {
        padding-top: 170px;
    }
}
@media screen and (max-width: 450px) {
    section.bg {
        padding-top: 130px;
    }
}
@media screen and (max-width: 350px) {
    section.bg {
        padding-top: 100px;
    }
}
section > .wrapper {
    padding: 24px;
    box-sizing: border-box;
    display: block;
    position: relative;
}
section .top-shadow {
    width: 100%;
    height: 504px;
    background-image: url("./assets/images/top-shadow.png");
    position: absolute;
    opacity: .6;
    top: 0px;
}
section .bottom-shadow {
    width: 100%;
    height: 504px;
    background-image: url("./assets/images/top-shadow.png");
    position: absolute;
    transform: rotate(180deg);
    opacity: .2;
    bottom: 0px;
}
.text-white {
    color: white;
}
.text-gold {
    color: gold;
}
.text-blue {
    color: #005cb9;
}
h2.text-white div {
    background: white;
}
.portfolio-container {

}
.photography-container {
    .portfolio-item {
        padding: 12px;
    }
    img {
        width: 100%;
    }
}
.card, .portfolio-item {
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    background: white;
    margin-bottom: 24px;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0,0,0,.2);
    display: flex;
    align-items: stretch;
}
.portfolio-item.featured { 
    background: #005cb9;
    h3,h5,p {
        color: white;
    }
    h5+* {
        color: rgba(255,255,255,0.8);
    }
    a.btn {
        border-color: white;
        color: white;
    }
    .tag {
        background: white;
        color: black;
    }
}
.card > .card-body {
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
}
.card.grey {
    background: #f2f2f2;
}
a.card {
    text-decoration: none;
}
.portfolio-ss {
    min-width: 300px;
    max-width: 300px;
    width: 100%;
    background-color: #efefef;
    background-size: cover;
    background-repeat: no-repeat;
}
.portfolio-desc {
    width: 100%;
    padding: 16px;
    padding-bottom: 24px;
    box-sizing: border-box;
}
.portfolio-desc h5 {
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 8px;
}
.portfolio-desc p {
    margin-bottom: 8px;
}
.portfolio-desc h5 + * {
    color: rgba(0,0,0,.5);
    font-size: 13px;
}
.portfolio-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.portfolio-tags-button {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.portfolio-tags-button a {
    cursor: pointer;
}
.tag {
    background: #005cb9;
    color: white;
    padding: 4px;
    font-size: 11px;
    font-weight: bold;
    display: inline-block;
    margin: 8px 8px 0px 0px;
    border-radius: 4px;
}
.tag.green {
    background: green;
}
.loading h3, .loading h5, .loading p, .loading span {
    display: inline-block;
    
    /* background: #efefef; */
}
.loading h3, .loading h5, .loading p, .loading span, .loading .portfolio-ss, .loading .portfolio-logo {
    animation: animateBg 2s infinite linear;
    background-size: 300% 100%;
    background-image: linear-gradient(135deg, #efefef, #d9d9d9, #efefef, #d9d9d9);
}
@keyframes animateBg {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0% 0;
    }
}
@media screen and (max-width: 700px) {
    .portfolio-item {
        flex-direction: column;
    }
    .portfolio-ss {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        height: 200px;
    }
}
.loading h3 {
    width: 250px;
    height: 25px;
}
.loading h5 {
    width: 150px;
    height: 15px;
}
.loading p {
    width: 100%;
    height: 15px;
    margin-bottom: 4px;
}
.loading .portfolio-logo {
    width: 30px;
    height: 30px;
}
.loading span {
    margin-right: 8px;
    width: 50px;
    height: 20px;
}
[data-template] {
    display: none
}
.modal {
    position: fixed;
    z-index: 50;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 0px;
    overflow: hidden;
    overflow-y: scroll;
    color: white;
    padding: 0px;
    box-sizing: border-box;
    background: rgba(0, 92, 185, .9);
    transition: all 1s;
    border-radius: 0px 0px 100% 100%;
}
.modal.active {
    height: 100%;
    padding: 64px 64px;
    border-radius: 0px 0px 0px 0px;
}
#crypto-modal.active {
    padding: 64px 0px;
}
.modal h1, .modal p, .modal a, .modal h2, .modal h3 {
    color: white;
}
.modal .wrapper {
    max-width: 960px;
    margin: 0px auto;
}
#crypto-modal.active .wrapper {
    padding: 0px 32px;
}
.modal p, .modal .photos img {
    margin-bottom: 24px;
}
.modal .photos img {
    box-shadow: 0px 3px 10px rgba(0,0,0,0.4);
}
body.has-modal {
    overflow: hidden;
}
.modal::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}
.modal .close {
    color: white;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}
.modal .btn {
    border-color: white;
}
.modal .tag {
    background: white;
    color: #005cb9;
}
.modal .next, .modal .prev {
    position: fixed;
    color: #005cb9;
    background: white;
    border-radius: 100%;
    top: 50%;
    padding: 0px 2px;
    margin-top: -12px;
    transition: all 1s;
    cursor: pointer;
}
.modal .next {
    right: -100px;
}
.modal .prev {
    left: -100px;
}
.modal.active .next:not(.inactive) {
    right: 16px;
}
.modal.active .prev:not(.inactive) {
    left: 16px;
}
.modal .wrapper {
    transition: all .5s;
    position: relative;
    opacity: 1;
    left: 0px;
}
.modal .wrapper.nextAnimate1 {
    left: 48px;
    opacity: 0;
}
.modal .wrapper.nextAnimate2 {
    left: -48px;
    opacity: 0;
}
.modal .wrapper.prevAnimate1 {
    left: -48px;
    opacity: 0;
}
.modal .wrapper.prevAnimate2 {
    left: 48px;
    opacity: 0;
}
.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-around {
    justify-content: space-around;
}
.align-items-start {
    align-items: flex-start;
}
.align-items-end {
    align-items: flex-end;
}
.align-items-center {
    align-items: center;
}
.progress-container {
    width: 100%;
    max-width: 960px;
    margin: 24px auto;
    height: 5px;
    border-radius: 100px;
    background-color: rgba(255,255,255,.5);
}
.progress-container .progress {
    width: 0%;
    height: 5px;
    border-radius: 100px;
    background-color: rgba(255,255,255,1);
    transition: all .5s;
}
#wordcloud {
    width: 100%;
    height: 400px;
}
.d-none {
    display: none;
}
.big-number {
    text-align: center;
}
.big-number h1 {
    font-size: 52px;
}
#is_working {
    position: fixed;
    box-sizing: border-box;
    bottom: -100px;
    transition: all 1s ease;
    width: 100%;
    left: 0px;
    color: white;
    z-index: 30;
    padding: 24px;
    font-size: 19px;
    box-shadow: 0px -3px 15px rgba(0,0,0,.1);
    justify-content: space-between;
    align-items: center;
    display: flex;
}
#is_working .yes, #is_working .break {
    display: none;
}
#is_working.yes {
    background: green;
    bottom: 0px;
}
#is_working.yes .yes {
    display: block;
}
#is_working.break {
    background: rgb(230, 149, 0);
    bottom: 0px;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
#is_working.break .break {
    display: block;
}
#is_working span {
    font-size: 16px;
    font-weight: bold;;
    color: white;
    text-shadow: 0px 3px 5px rgba(0,0,0,.3);
    margin: 0px;
} 
hr {
    border: 0px;
    border-top: 1px solid rgba(0,0,0,.1);
    margin: 24px 0px;
}
.social {
    padding: 8px;
}
.social i {
    color: #005cb9;
}
/* add fill to svg path */
.social svg path {
    fill: #005cb9;
}
h3 .tags {
    margin-left: 12px;
}
.tag.long, .tag.short, .tag.neutral {
    white-space: nowrap;
    padding: 4px 8px;
    font-size: 11px;
    text-transform: uppercase;
}
.tag.long i, .tag.short i, .tag.neutral i {
    margin-right: 4px;
    font-size: 14px;
}
.tag.long {
    background: green;
    color: white;
}
.tag.short {
    background: red;
    color: white;
}
.tag.neutral {
    background: #999;
    color: white;
}
p.clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
    text-overflow: ellipsis;
    overflow: hidden;
}
table.table {
    width: 100%;
    tr td {
        padding: 12px 4px;
    }
    tr:not(:last-child) td {
        border-bottom: 1px solid rgba(0,0,0,.1);
    }
}
input, select, textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    font-family: "grandesign";
    font-size: 16px;
    border: 2px solid rgba(0,0,0,0.2);
}
input:focus, select:focus, textarea:focus {
    outline: 0;
}
textarea {
    resize: vertical;
    min-height: 200px;
    max-height: 500px;
}
.input-group {
    display: flex;
    align-items: stretch;
}
label {
    display: inline-block;
    margin-bottom: 16px;
    width: 100%;
}
.input-group-prepend, .input-group-append {
    display: flex;
    align-items: center;
    color: white;
    background: #005cb9;
    padding: 4px 16px;
    font-weight: bold;
}
.tech-logos {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    .img-container {
        img {
            margin: 12px;
            aspect-ratio: 4/3;
            max-height: 60px;
            object-fit: contain;
        }
    }
}
#youtube_live {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 24px;
    z-index: 100;
    box-shadow: 0px 3px 4px rgba(0,0,0,.2);
    img {
        max-width: 300px;
    }
    .title {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        white-space: nowrap;
        overflow: hidden;
        font-size: 18px;
        text-overflow: ellipsis;
        color: white;
        padding: 4px 8px;
        text-shadow: 0px 4px 6px rgba(0,0,0,.4);
        font-weight: bold;
        background-image: url("./assets/images/top-shadow.png");
        background-repeat: repeat-x;
        background-size: contain;
        background-position: top center;
    }
    .live {
        background: red;
        color: white;
        position: absolute;
        bottom: 12px;
        right: 12px;
        padding: 4px 8px;
        border-radius: 4px;
        font-weight: bold;
        font-size: 14px;
        .record-icon {
            border-radius: 100%;
            width: 12px;
            height: 12px;
            background-color: white;
            margin-right: 8px;
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 2px;
        }
    }
}
body.dark-mode {
    .paper {
        background: #111;
    }
    .logo-container, .container {
        background: black;
    }
    header h3 {
        color: white;
    }
    p {
        color: white;
    }
    nav a {
        color: white;
    }
    .portfolio-item {
        background: #222;
        h5, span {
            color: white;
        }
    }
    .big-number {
        color: white;
    }
    a.btn {
        color: white;
        border: 3px solid white;
    }
    h1,h2,h3,h4,h5,h6 {
        color: white;
    }
    #wordcloud {
        background-color: transparent !important;
    }
    hr {
        border-top: 1px solid rgba(255,255,255,.2)
    }
}
.mr-2 {
    margin-right: 8px;
}
.mr-3 {
    margin-right: 12px;
}
.mb-2 {
    margin-bottom: 8px;
}
.mb-3 {
    margin-bottom: 12px;
}
.contribution-label {
    display: inline-block;
    margin: 4px;
    div {
        margin-right: 6px;
        width: 12px;
        height: 12px;
        display: inline-block;
        &.level-6 {
            background: rgba(0,92,185,1);
        }
        &.level-5 {
            background: rgba(0,92,185,0.9);
        }
        &.level-4 {
            background: rgba(0,92,185,0.8);
        }
        &.level-3 {
            background: rgba(0,92,185,0.7);
        }
        &.level-2 {
            background: rgba(0,92,185,0.6);
        }
        &.level-1 {
            background: rgba(0,92,185,0.5);
        }
        &.level-0 {
            background: #d0d0d0;
        }
    }
}
.badges {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1rem;
    margin-bottom: 24px;
    img {
        vertical-align: middle;
        width: 16.66%;
        height: 100px;
        object-fit: contain;
        mix-blend-mode: multiply;
    }
}
.contribution-year {
    padding: 0px 24px;
    width: 100%;
    box-sizing: border-box;
}
.contribution-calendar {
    display: flex;
    margin-bottom: 24px;
    flex-direction: row;
    justify-content: space-between;
    .contribution-week {
        display: flex;
        flex-direction: column;
        &:last-child .contribution-week-label {
            visibility: hidden;
        }
        & > div {
            height: 12px;
            width: 12px;
            margin: 1px;
            background: #d0d0d0;
        }
        div.contribution-day {
            position: relative;
            .contribution-day-tooltip {
                display: none;
                z-index: 10;
                bottom: 24px;
                left: -50%;
                white-space: nowrap;
                position: absolute;
                background: #005cb9;
                color: white;
                padding: 4px;
                font-size: 11px;
                border-radius: 4px;
                box-shadow: 0px 3px 3px rgba(0,0,0,.2);
                width: auto;
                height: auto;
            }
            &:hover {
                .contribution-day-tooltip {
                    display: block;
                }
            }
        }
        div.transparent {
            background: transparent;
        }
        .contribution-week-label {
            text-align: right;
            width: 12px;
            height: 18px;
            margin: 1px;
            font-size: 14px;
            font-weight: bold;
            color: #005cb9;
            background: transparent;
        }
    }
    .contribution-day-label {
        display: flex;
        flex-direction: column;
        div {
            height: 12px;
            width: 12px;
            margin: 1px;
            text-align: center;
            font-size: 11px;
            font-weight: bold;
            color: #005cb9;
        }
        .contribution-week-label {
            height: 18px;
        }
    }
}
@media screen and (max-width: 900px) {
    .contribution-calendar {
        justify-content: flex-start;
        .contribution-week {
            div {
                width: 8px;
                height: 8px;
                margin: 2px;
            }
            .contribution-week-label {
                width: 8px;
                height: 16px;
                margin: 2px;
            }
        }
        .contribution-day-label {
            div {
                width: 8px;
                height: 8px;
                margin: 2px;
                font-size: 9px;
            }
            .contribution-week-label {
                height: 16px;
            }
        }
    }
}
@media screen and (max-width: 680px) {
    .contribution-calendar {
        justify-content: flex-start;
        .contribution-week {
            div {
                width: 6px;
                height: 6px;
                margin: 1px;
            }
            .contribution-week-label {
                width: 6px;
                height: 16px;
                margin: 1px;
                font-size: 11px;
            }
        }
        .contribution-day-label {
            display: none;
        }
    }
}
@media screen and (max-width: 460px) {
    .contribution-calendar {
        flex-direction: column;
        .contribution-week {
            justify-content: center;
            flex-direction: row;
            div {
                width: 12px;
                height: 12px;
                margin: 2px;
            }
            .contribution-week-label {
                width: 32px;
                height: 12px;
                margin: 2px;
                font-size: 14px;
            }
        }
        .contribution-day-label {
            display: flex;
            flex-direction: row;
            justify-content: center;
            div {
                width: 12px;
                height: 12px;
                margin: 2px;
                font-size: 13px;
            }
            div:first-child {
                width: 32px;
            }
            .contribution-week-label {
                height: 12px;
            }
        }
    }
}

body, .container, .logo-container, .card, 
.portfolio-item:not(.featured), .paper, 
h4,h5,h6,p, nav ul li a,section.bg > .wrapper > p, header h3, 
.portfolio-desc h5 + *, .portfolio-header h3, 
.contribution-calendar .contribution-week > div:not(.contribution-week-label),
.btn, .loading h3, .loading h5, .loading p, .loading span, .loading .portfolio-ss, .loading .portfolio-logo, input, select, textarea {
    transition: all .2s ease;
}

body.dark-theme {
    color: #efefef;
    .container, .logo-container,.card,.portfolio-item:not(.featured) {
        background-color: #333;
    }
    .paper {
        background-color: #222;
    }
    h4,h5,h6,p, nav ul li a,section.bg > .wrapper > p, header h3 {
        color: #efefef;
    }
    .portfolio-desc h5 + * {
        color: rgba(255,255,255,.5)
    }
    .portfolio-header h3 {
        color: #efefef;
    }
    .contribution-calendar .contribution-week > div:not(.contribution-week-label) {
        background-color: rgba(255,255,255,.5);
        transition: background-color .2s ease;
    }
    .btn {
        color: #efefef;
        border: 3px solid #efefef;
    }
    .loading h3, .loading h5, .loading p, .loading span, .loading .portfolio-ss, .loading .portfolio-logo {
        animation: animateBg 2s infinite linear;
        background-size: 300% 100%;
        background-image: linear-gradient(135deg, rgba(255,255,255,.3), rgba(255,255,255,.5), rgba(255,255,255,.3), rgba(255,255,255,.5));
    }
    input, select, textarea {
        background-color: #333;
        color: #efefef;
    }
}