<div id="view">
    <section>
        <div class="wrapper">
            <h2>Email Username Generator<div></div></h2>
            <input type="text" id="inputText">
            <button onclick="encrypt()">Encrypt</button>
            <button onclick="decrypt()">Decrypt</button>
            <p id="output"></p>

            <script>
                function encrypt() {
                  var inputElement = document.getElementById("inputText");
                  var inputValue = inputElement.value;
                  var shiftedValue = shiftCharacters(inputValue, 10);
            
                  var encryptedEmailElement = document.getElementById("output");
                  encryptedEmailElement.textContent = shiftedValue;
                }
            
                function shiftCharacters(text, shiftAmount) {
                  var result = "";
            
                  for (var i = 0; i < text.length; i++) {
                    var charCode = text.charCodeAt(i);
            
                    if (charCode >= 97 && charCode <= 122) { // Only shift lowercase letters
                      var shiftedCharCode = ((charCode - 97 + shiftAmount) % 26) + 97;
                      var shiftedChar = String.fromCharCode(shiftedCharCode);
                      result += shiftedChar;
                    } else {
                      result += text[i]; // Preserve non-letter characters
                    }
                  }
            
                  return result;
                }
            
                function decrypt() {
                  var encryptedEmailElement = document.getElementById("inputText");
                  var encryptedValue = encryptedEmailElement.value;
                  var decryptedValue = unshiftCharacters(encryptedValue, 10);
            
                  var decryptedEmailElement = document.getElementById("output");
                  decryptedEmailElement.textContent = decryptedValue;
                }
            
                function unshiftCharacters(text, shiftAmount) {
                  var result = "";
            
                  for (var i = 0; i < text.length; i++) {
                    var charCode = text.charCodeAt(i);
            
                    if (charCode >= 97 && charCode <= 122) { // Only unshift lowercase letters
                      var unshiftedCharCode = ((charCode - 97 - shiftAmount + 26) % 26) + 97;
                      var unshiftedChar = String.fromCharCode(unshiftedCharCode);
                      result += unshiftedChar;
                    } else {
                      result += text[i]; // Preserve non-letter characters
                    }
                  }
            
                  return result;
                }
              </script>
        </div>
    </section>
    <script>

    </script>
</div>