<div id="view">
    <section>
        <div class="wrapper">
            <h2>Buy me coffee 🙏🥹</h2>
            <p>You are redirected to my website, because you probably liked one of my projects. To show appreciation, you could buy me a coffee.</p>
            <p>My favorite drink is the Mcdonald's Iced Coffee which costs Php 49.00 or $0.84.</p>
            <p>Use the link or QR below</p>
            <img src="assets/images/maya_qr.jpg" width="350px" style="vertical-align: top; margin: 0px 24px 24px 0px;"/>
            <img src="assets/images/gcash_qr.jpg" width="350px" style="vertical-align: top; margin: 0px 24px 24px 0px;"/>
            <a href="https://paypal.me/jfabrera?country.x=PH&locale.x=en_US" target="_blank"><img src="assets/images/icons/paypal.svg" alt="PayPal" width="250px"></a>
            <h3>I appreciate it. Thank you 🙇</h3>
        </div>
    </section>
</div>