<div id="view">
    <header id="about">
        <img src="./assets/images/me2.jpg" alt="">
        <div>
            <!-- <p>Hi there! I am</p> -->
             <h1>Juvar Abrera</h1>
            <h3>> <span id="typewriter"></span><span class="blink"></span></h3>
            <p>I am a software engineer at MeetsMore Inc. Previously, I'm a full-stack web developer working with different projects in National Telehealth Center, University of the Philippines Manila and CTO of two tech health startups.</p>
            <hr>
            <a class="social" title="Email" href="mailto:me@juvarabrera.com" target="_blank"><i class="mdi mdi-email"></i></a>
            <a class="social" title="Github" href="https://www.github.com/juvarabrera" target="_blank"><i class="mdi mdi-github"></i></a>
            <a class="social" title="GitLab" href="https://gitlab.com/juvarabrera" target="_blank"><svg style="width:24px;height:24px;vertical-align:middle;margin: 2px 0px;" class="mr-2" viewBox="0 0 24 24">
              <path fill="currentColor" d="M21.94 13.11L20.89 9.89C20.89 9.86 20.88 9.83 20.87 9.8L18.76 3.32C18.65 3 18.33 2.75 17.96 2.75C17.6 2.75 17.28 3 17.17 3.33L15.17 9.5H8.84L6.83 3.33C6.72 3 6.4 2.75 6.04 2.75H6.04C5.67 2.75 5.35 3 5.24 3.33L3.13 9.82C3.13 9.82 3.13 9.83 3.13 9.83L2.06 13.11C1.9 13.61 2.07 14.15 2.5 14.45L11.72 21.16C11.89 21.28 12.11 21.28 12.28 21.15L21.5 14.45C21.93 14.15 22.1 13.61 21.94 13.11M8.15 10.45L10.72 18.36L4.55 10.45M13.28 18.37L15.75 10.78L15.85 10.45H19.46L13.87 17.61M17.97 3.94L19.78 9.5H16.16M14.86 10.45L13.07 15.96L12 19.24L9.14 10.45M6.03 3.94L7.84 9.5H4.23M3.05 13.69C2.96 13.62 2.92 13.5 2.96 13.4L3.75 10.97L9.57 18.42M20.95 13.69L14.44 18.42L14.46 18.39L20.25 10.97L21.04 13.4C21.08 13.5 21.04 13.62 20.95 13.69" />
            </svg></a>
            <a class="social" title="Twitter" href="https://www.x.com/juvarabrera" target="_blank"><i class="mdi mdi-twitter"></i></a>
        </div>
    </header>
    <section class="companies">
        <h5 style="margin-top: 64px;">CURRENTLY WORKING AT</h5>
        <a href="https://meetsmore.com/"><img src="./assets/images/company_logos/meetsmore.png" alt="MeetsMore"></a>
        <h5 style="margin-top: 64px;">I HAVE WORKED WITH</h5>
        <img src="./assets/images/company_logos/upmanila.png" height="60px" alt="University of the Philippines Manila" title="University of the Philippines Manila">
        <img src="./assets/images/company_logos/nthc.png" height="60px" alt="National Telehealth Center - National Institutes of Health" title="National Telehealth Center - National Institutes of Health">
        <img src="./assets/images/company_logos/rimes.int.png" height="70px" alt="RIMES.int" title="RIMES.int">
        <img src="./assets/images/company_logos/pivotalpeak.png" height="60px" alt="Pivotal Peak Digital Health Solutions Inc." title="Pivotal Peak Digital Health Solutions Inc.">
        <img src="./assets/images/company_logos/yakaph.png" height="70px" alt="Yakap Health Inc." title="Yakap Health Inc.">
        <img src="./assets/images/company_logos/gdgph.png" height="40px" alt="Google Developer Group Philippines" title="Google Developer Group Philippines">
        <img src="./assets/images/company_logos/upcm.png" height="40px" alt="College of Medicine UP Manila" title="College of Medicine UP Manila">
        <img src="./assets/images/company_logos/nsrc.png" height="40px" alt="Newborn Screening Referal Center" title="Newborn Screening Referal Center">
        <img src="./assets/images/company_logos/who.png" height="40px" alt="World Health Organization" title="World Health Organization">
        <img src="./assets/images/company_logos/ia.jpg" height="40px" alt="Institute of Aging" title="Institute of Aging">
        <img src="./assets/images/company_logos/pidsp.png" height="60px" alt="Pediatric Infectious Disease Society of the Philippines, Inc." title="Pediatric Infectious Disease Society of the Philippines, Inc.">
        <img src="./assets/images/company_logos/plas.png" height="40px" alt="Philippine Lipid and Atherosclerosis Society" title="Philippine Lipid and Atherosclerosis Society">
    </section>
    <script>
        new TypeWriter(document.getElementById("typewriter"), {
            "data": [
                "I>>> am a|>>> Full-Stack Web Developer.",
                "I>>> create and design web appliations.",
                "I lov>>>eeeeee <<to design>> websites.",
                'I>>> do technical analysis<< on Bitcoin'
                ]
        });
    </script>
</div>